<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        {{ messsage }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            <p>鼠标悬停一下看提示信息</p>
        </span>
    </div>

    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <ol>
        <todo-item></todo-item>
    </ol>

    <div id="app-7">
        <ol>
            <todo-itemm 
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-itemm>
        </ol>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                messsage: 'Hello Vue!'
            }
        })

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message:'页面加载于 ' + new Date().toLocaleString()
            }
        })

        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    {text: '学习 javascript'},
                    {text: '学习 Vue'},
                    {text: '整个项目'}
                ]
            }
        })

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })

        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue!'
            }
        })

        Vue.component('todo-item', {
            template: '<li>这是一个代办项</li>'
        })

        Vue.component('todo-itemm', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })

        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    {id: 0, text: '蔬菜'},
                    {id: 1, text: '奶酪'},
                    {id: 2, text: '火腿肠'}
                ]
            }
        })

    </script>


</body>
</html>